<ion-view view-title="Kontakt">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Kontakt
            </div>
            <ion-list>
                <ion-item class="item item-icon-left">
                    <i class="icon ion-home"></i> <b>APIS IT d.o.o</b> </br> Paljetkova 18, 10001 Zagreb, Hrvatska
                </ion-item>
                <ion-item class="item item-icon-left">
                    <i class="icon icon ion-android-call"></i> <b>Tel</b> </br> 01/3885 777
                </ion-item>

                <ion-item class="item item-icon-left">
                    <i class="icon ion-android-mail"></i> <b>Mail</b> </br> apis-it@apis-it.hr
                </ion-item>
                <ion-item class="item item-icon-left">
                    <i class="icon ion-social-chrome"></i> <b>Web site</b> </br> www.apis-it.hr
                </ion-item>
                <ion-item>
                    <iframe class="padding" width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=zagreb%20apis%20it&key=AIzaSyBLQGcmqtYyDzmMxhsUGdor9HaZ4jPDZ8s
                       " allowfullscreen>
                    </iframe>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>