<ion-view view-title="O nama">
    <ion-content>
        <div class="card">
            <div class="item item-body">
                <img class="full-image" src="http://www.apis-it.hr/apisit/ws.nsf/0/21114636F1A17DB9C1257ACB00396023/$File/slika.jpg">       
                <p>
                    Agencija za podršku informacijskim sustavima i informacijskim tehnologijama, APIS IT d.o.o., osnovana je krajem 2005. ugovoroms
                    između Vlade RH i Grada Zagreba, kako bi na pozitivnim iskustvima Gradskog zavoda za automatsku obradu
                    podataka (GZAOP) obavljala poslove razvoja i podrške ključnim informacijskim sustavima RH i Grada Zagreba
                    te razvila aplikativne servise i čuvala potrebne informacijske baze, što je temelj funkcioniranja moderne
                    elektronički podržane uprave.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="item item-body">
                <img class="full-image" src="http://www.apis-it.hr/apisit/ws.nsf/0/E68DAAB4FB4D4807C1257ACB00399D5B/$File/slika.jpg">          
                <p>
                    U stvaranju informacijskog društva uloga APIS IT je razvijanje i praćenje implementacije smjernica, normi i politike za razvoj
                    e-uprave, davanje podrške tijelima državne uprave u razvoju vlastite strategije e-poslovanja, razvijanje
                    i podupiranje zajedničke računalno-komunikacijske i aplikacijske infrastrukture, promoviranje primjene
                    najboljih iskustava u upravljanju informacijskim sustavima, uključujući i zaštitu osobnih podataka, te
                    razvijanje zajedničkih elektroničkih usluga i centralni pristup informacijskim resursima državne uprave
                    uz odgovarajuću autorizaciju i autentikaciju
                </p>
                <p>Cilj APIS IT-ja je zadržati vodeću ulogu u isporuci kvalitetno osmišljenih i integriranih usluga i servisa.</p>
            </div>
        </div>
    </ion-content>
</ion-view>